<div ng-controller="MnemeCtrl">
  <!-- name -->
  <div class="form-group">
    <label for="name" class="control-label col-md-2">
      Name
      <span class="glyphicon glyphicon-pencil mneme-margin-left"></span>
    </label>
    <div class="col-md-6">
      <input ng-model="mneme.name" type="text" class="form-control col-md-6"
          id="name" placeholder="Example: buy rice">
    </div>
  </div>

  <!-- tags -->
  <div class="form-group">
    <label for="tags" class="control-label col-md-2">
      Tags
      <span class="glyphicon glyphicon-tags mneme-margin-left"></span>
    </label>
    <div class="col-md-6 mneme-margin-top">
      <!-- list of selected tags -->
      <p>
        <a href ng-repeat="tag in mneme.tags" ng-click="tags_remove(tag)"
            class="label label-primary mneme-tag mneme-hover-base">
          <span class="glyphicon glyphicon-tag mneme-hover-hide"></span>
          <span class="glyphicon glyphicon-minus-sign mneme-hover-show"></span>
          {{tag}}
        </a>
        <span ng-show="!mneme.tags.length">
          No tags have been specified yet.
        </span>
      </p>
      <!-- input field for new tags -->
      <div class="input-group">
        <input
            ng-model="tag_new"
            typeahead="tag.name for tag in tags_used | filter:$viewValue | limitTo:8"
            ng-keydown="$event.keyCode == 13 && ($event.preventDefault() || tag_new_validate() && tags_add())"
            placeholder="Example: shopping list"
            type="text" class="form-control">
        <span class="input-group-btn">
          <button
              ng-click="tags_add()"
              ng-class="{disabled: !tag_new_validate()}"
              class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-tag"></span>
            Add tag
          </button>
        </span>
      </div>
      <!-- often used tags -->
      <div ng-show="tags_used.length" class="mneme-margin-top">
        <label>You can also pick the following often used tags:</label>
        <div>
          <a href=""
              ng-repeat="tag in tags_used
                         | orderBy: '-count'
                         | limitTo: tags_used_limit"
              ng-click="mneme.tags.push(tag.name)"
              class="label label-info mneme-tag mneme-hover-base">
            <span class="glyphicon glyphicon-tag mneme-hover-hide"></span>
            <span class="glyphicon glyphicon-plus-sign mneme-hover-show"></span>
            {{tag.name}}
            <span class="mneme-badge">{{tag.count}}</span>
          </a>
          <button
              ng-init="tags_used_limit = 5"
              ng-click="tags_used_limit = 10000"
              ng-show="tags_used_limit == 5 &&
                       tags_used.length > 5"
              class="btn btn-primary btn-xs">
            show all ({{tags_used.length - tags_used_limit}} more)
          </button>
          <button
              ng-click="tags_used_limit = 5"
              ng-show="tags_used_limit > 5 &&
                       tags_used.length > 5"
              class="btn btn-primary btn-xs">
            show less
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- deadline -->
  <div class="form-group">
    <label for="deadline" class="control-label col-md-2">
      Deadline
      <span class="glyphicon glyphicon-time mneme-margin-left"></span>
    </label>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-1 mneme-margin-top">
          <input type="checkbox"
              ng-model="mneme.deadline"
              ng-true-value="bla;"
              ng-false-value="undefined"
              >
        </div>
        <div ng-show="mneme.deadline" class="col-xs-11">
          <div class="input-group">
            <input type="text" class="form-control"
                datepicker-popup="yyyy/MM/dd"
                ng-model="mneme.deadline"
                is-open="deadline_popup"
                ng-required="true"
                close-text="Close" />
            <span class="input-group-btn">
              <button
                  ng-click="deadline_popup = !deadline_popup;
                            $event.stopPropagation();"
                  type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-calendar"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
