<div>
  <h4>Selected tags</h4>
  <div>
    <button ng-repeat="tagname in tagnames_selected" ng-click="remove(tagname)" type="button" class="btn btn-primary">
      {{tagname}}
      <span class="glyphicon glyphicon-remove-sign hover-icon"></span>
    </button>
  </div>
</div>
<div>
  <h4>Available tags</h4>
  <div>
    <button ng-repeat="tag in tags_available" ng-click="add(tag)" type="button" class="btn btn-secondary">
      {{tag.name}} <span class="badge">{{tag.count}}</span>
      <span class="glyphicon glyphicon-plus-sign hover-icon"></span>
    </button>
  </div>
</div>
