<div ng-controller="OverviewCtrl">
  <div class="mneme-content">
    <!-- filter panel -->
    <div ng-show="mnemedb.mnemes.length" class="panel panel-info">
      <!-- filter panel heading -->
      <div ng-click="filter.show = !filter.show"
          class="panel-heading mneme-pointer clearfix">
        <span class="glyphicon glyphicon-filter"></span> Filter
        <!-- arrow pointing down or up -->
        <span ng-show="!filter.show" class="caret"></span>
        <span ng-show="filter.show" class="dropup">
          <span class="caret"></span>
        </span>

        <!-- list of selected filter tags (stop click event propagation to
             preven the panel from closing) -->
        <a href=""
            ng-repeat="tag in filter.tags"
            ng-click="filter.tags_remove(tag); $event.stopPropagation();"
            class="label label-primary mneme-tag mneme-hover-base">
          <span class="glyphicon glyphicon-tag mneme-hover-hide"></span>
          <span class="glyphicon glyphicon-minus-sign mneme-hover-show"></span>
          {{tag}}
        </a>

        <!-- show map restriction label -->
        <a href=""
            ng-click="filter.map_show = false; $event.stopPropagation();"
            ng-show="filter.map_show"
            class="label label-default mneme-tag mneme-hover-base">
          <span class="glyphicon glyphicon-globe mneme-hover-hide"></span>
          <span class="glyphicon glyphicon-minus-sign mneme-hover-show"></span>
          map area
        </a>

        <!-- clear filter button -->
        <button
          ng-click="filter.tags = [];
                    filter.map_show = false;
                    $event.stopPropagation();"
            ng-show="filter.tags.length || filter.map_show"
            class="btn btn-danger btn-xs pull-right mneme-filter-clear">
          <span class="glyphicon glyphicon-remove"></span> clear
        </button>
      </div>
      <!-- filter panel body -->
      <div collapse="!filter.show">
        <div class="panel-body">
          <div ng-show="filter.tags_remaining.length">
            <label>
              <span class="glyphicon glyphicon-tags mneme-filter-icon"></span>
              Pick one or more of the following tags to filter your mnemes!
            </label>
            <div>
              <a href=""
                ng-repeat="tag in filter.tags_remaining
                             | orderBy: '-count'
                             | limitTo: filter.tags_remaining_limit"
                  ng-click="filter.tags.push(tag.name)"
                  class="label label-info mneme-tag mneme-hover-base">
                <span class="glyphicon glyphicon-tag mneme-hover-hide"></span>
                <span class="glyphicon glyphicon-plus-sign mneme-hover-show"></span>
                {{tag.name}}
                <span class="mneme-badge">{{tag.count}}</span>
              </a>
              <button
                  ng-click="filter.tags_remaining_limit = 10000"
                  ng-show="filter.tags_remaining_limit == 5 &&
                           filter.tags_remaining.length > 5"
                  class="btn btn-primary btn-xs">
                show all ({{filter.tags_remaining.length -
                filter.tags_remaining_limit}} more)
              </button>
              <button
                  ng-click="filter.tags_remaining_limit = 5"
                  ng-show="filter.tags_remaining_limit > 5 &&
                           filter.tags_remaining.length > 5"
                  class="btn btn-primary btn-xs">
                show less
              </button>
            </div>
          </div>
          <label ng-show="!filter.tags_remaining.length">
            <span class="glyphicon glyphicon-tags mneme-filter-icon"></span>
            There are no more tags for refining the filter!
          </label>
          <hr class="small">
          <!-- TODO: map filter -->
          <div>
            <label>
              <button
                  ng-model="filter.map_show"
                  btn-checkbox
                  type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-globe mneme-filter-icon"></span>
                Restrict to area on map
              </button>
            </label>
            <div collapse="!filter.map_show">
              <leaflet
                  center="filter.map_center"
                  markers="filter.map_markers"
                  paths="filter.map_paths"
                  event-broadcast="filter.map_events"
                  bounds="filter.map_bounds"
                  class="mneme-leaflet-map"
                  >
              </leaflet>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p ng-show="mnemedb.mnemes.length">
      <a href ng-click="new()" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Add new mneme!
      </a>
    </p>

    <!-- filtererd mneme list -->
    <table ng-show="mnemes_filtered.length"
        class="table table-striped table-hover table-vmiddle">
      <thead>
        <tr>
          <th>
            Name
            <a href="" ng-click="order_field = 'name';
                                 order_reverse = !order_reverse">
              <span class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th>
            Deadline
            <a href="" ng-click="order_field = 'deadline';
                                 order_reverse = !order_reverse">
              <span class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th>
            Creation date
            <a href ng-click="order_field = 'ctime';
                                 order_reverse = !order_reverse">
              <span class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th ng-if="filter.map_show">Distance from map center</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mneme in mnemes_filtered
                       | orderBy:order_field:order_reverse">
          <td>
            <h4>{{mneme.name}}</h4>
            <span ng-repeat="tag in mneme.tags">
              <span ng-if="!filter.tags_contains(tag)"
                  class="mneme-tag label label-info">
                <span class="glyphicon glyphicon-tag"></span>
                {{tag}}
              </span>
            </span>
            <span ng-show="mneme.location"
                class="mneme-tag label label-default">
              <span class="glyphicon glyphicon-map-marker mneme-hover-hide"></span>
            </span>
          </td>
          <td>
            <span am-time-ago="mneme.deadline"></span>
          </td>
          <td>
            <span am-time-ago="mneme.ctime"></span>
          </td>
          <td ng-if="filter.map_show">6 km</td>
          <td class="text-right">
            <button
                ng-click="edit(mneme)"
                type="button" class="btn btn-primary mneme-btn">
              <span class="glyphicon glyphicon-edit"></span> edit
            </button>
            <button
                ng-click="mnemedb.db.remove(mneme._id, mneme._rev)"
                type="button" class="btn btn-danger mneme-btn">
              <span class="glyphicon glyphicon-remove"></span> remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- show message if no mnemes are stored -->
    <div ng-show="!mnemedb.mnemes.length" class="alert alert-info clearfix">
      <strong>No mnemes are stored in the database!</strong>
      <a href ng-click="new()" type="button" class="btn btn-primary pull-right">
        Add a new mneme!
      </a>
    </div>
    <!-- show message if filtered mneme list is empty (but mnemes are present) -->
    <div ng-show="mnemedb.mnemes.length && !mnemes_filtered.length"
        class="alert alert-info">
      <strong>No mnemes match the current filter settings!</strong>
    </div>
    <!-- show add button if list is long -->
    <p ng-show="mnemes_filtered.length >= 7">
      <a href ng-click="new()" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Add new mneme!
      </a>
    </p>
  </div>
</div>
