<div ng-controller="OverviewCtrl">
  <mneme-tags model-get="tags_get" model-selected="tagnames_selected"></mneme-tags>
  <hr>
  <div>
    <label>
      <input type="checkbox" ng-model="show_map">
      Restrict to area on map
    </label>
    <div style="height: 300px; padding-left: 20px; padding-right: 20px; background-color: #DDDDDD;" ng-if="show_map"></div>
  </div>
  <hr>
  <div>
    <h4>
      <span ng-if="mnemes_filtered.length>1">
        {{mnemes_filtered.length}} mnemes match
      </span>
      <span ng-if="mnemes_filtered.length===1">
        {{mnemes_filtered.length}} mneme matches
      </span>
      <span ng-if="mnemes_filtered.length===0">No mneme matches</span>
      your tag filter:
    </h4>
    <table class="table table-striped table-hover table-vmiddle">
      <thead>
        <tr>
          <th>Name</th>
          <th>Deadline</th>
          <th>Creation date</th>
          <th>Distance from map center</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mneme in mnemes_filtered | orderBy: '+name'">
          <td>
            <h4>{{mneme.name}}</h4>
            <span ng-repeat="tag in mneme.tags">
              <span ng-if="contains(tag)" class="mneme-tag label label-primary">
                {{tag}}
              </span>
              <span ng-if="!contains(tag)" class="mneme-tag label label-info">
                {{tag}}
              </span>
            </span>
          </td>
          <td></td>
          <td>11 months ago</td>
          <td>6 km</td>
          <td>
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-edit"></span> edit
            </button>
            <button type="button" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span> remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
