body {
  padding-top: 50px;
  padding-bottom: 20px;
}

button.btn {
  margin: 0.1em;
}

.table-vmiddle > tbody > tr > td {
  vertical-align: middle;
}

.hover-icon {
  margin-left: 6px;
}

.btn > .hover-icon {
  visibility: hidden;
}

.btn:hover > .hover-icon {
  visibility: visible;
}
