body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.mneme-btn {
  margin: 0.1em;
}

/* align table elements vertically */
.table-vmiddle > tbody > tr > td {
  vertical-align: middle;
}

.mneme-tag {
  margin: 0.1em;
}

.mneme-panel-filter {
  margin-top: 1em;
}

/* show link-style cursor (like a href) */
.mneme-pointer {
  cursor: pointer;
}

.mneme-hover-target {
  visibility: hidden;
}

.mneme-hover-base:hover > .mneme-hover-target {
  visibility: visible;
}

.mneme-badge {
  font-style: normal;
  background-color: #428bca;
  margin: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
}

hr.small {
  margin: 10px 0px;
}

.mneme-float-right {
  float: right;
}
