body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.mneme-btn {
  margin: 0.1em;
}

/* align table elements vertically */
.table-vmiddle > tbody > tr > td {
  vertical-align: middle;
}

.mneme-tag {
  margin: 0.1em;
  display: inline-block;
}

.mneme-content {
  margin-top: 1em;
}

.mneme-margin-top{
  margin-top: 7px;
}

.mneme-margin-left {
  margin-left: 7px;
}

/* show link-style cursor (like a href) */
.mneme-pointer {
  cursor: pointer;
}

.mneme-hover-show {
  display: none;
}

.mneme-hover-base:hover > .mneme-hover-show {
  display: inline-block;
}

.mneme-hover-hide {
  display: inline-block;
}

.mneme-hover-base:hover > .mneme-hover-hide {
  display: none;
}

.mneme-badge {
  font-style: normal;
  background-color: #428bca;
  margin: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
}

.mneme-filter-icon {
  margin-right: 0.5em;
}

hr.small {
  margin: 10px 0px;
}

.mneme-filter-clear {
  margin: 0.1em;
}

.mneme-timepicker tr:nth-child(odd) {
  display: none;
}
